# Base de datos (SQLite en desarrollo)
DATABASE_URL="file:./dev.db"

# Auth.js
# Generar con: openssl rand -base64 32
AUTH_SECRET="cambia-este-valor-por-uno-aleatorio-de-al-menos-32-caracteres"
AUTH_URL="http://localhost:3000"

# Entorno
NODE_ENV="development"
